<launch>

  <node pkg="quadrotor_ukf" 
    type="quadrotor_ukf" 
    name="quadrotor_ukf" 
    output="screen">
    <remap from="~odom_slam" to="qvio/odometry"/>
    <remap from="~imu" to="imu_apps"/>
    <param name="frame_id" value="odom"/>
  </node>

    <node pkg="tf2_ros" type="static_transform_publisher" name="qvio_transform" args="0 0 0 0 0 3.14 /odom /map" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find starling2_interface)/rviz/starling2.rviz" />

</launch>
